// btn Colors
$blue-clicked-btn: #5DAFFE;
$blue-not-clicked-btn: #CAE5FF;
$pink-clicked-btn: #FF8EDF;
$pink-not-clicked-btn: #FFBAEC;

$blue-signin : #5DAFFE;
$pink-signup : #FE5DEE;

// Responsive Variables
$maxMobile : "(max-width: 767px)";
$maxSmall : "(max-width: 991px)";
$minSmall : "(min-width: 768px)";
$minMedium : "(min-width: 992px)";
$minLarge : "(min-width: 1200px)";

// Main Colors 
$yellow: #ffeba4;
$blue: #cae5ff;
$pink: #ffbaec;
$green: #cfffa9;

// background color
$background-section: #f1efef;