.doctor-dashboard {
    label {
        padding: 20px;

        img {
            width: 100px;
            height: 100px;
            border: 1px solid #000;
            margin-right: 10px;
            border-radius: 50%;
        }

        h2 {
            margin-top: 20px;
            font-family: myfont;
        }
    }
}

// side
.side-container {
    width: 100%;
    height: 100vh;
    background: #119aaf;
    color: #fff;
}

.title-dash {
    margin-left: -93px;
}

.side-container .sidenav {
    width: 115px;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    padding: 32px 16px;
    background-color: #000;
    transition: width 0.6s;
}

label .close-btn {
    display: none;
}

.side-container .logo h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    margin-right: 20px;
}

.sidenav .search_bar {
    margin-top: 32px;
    position: relative;
}

.sidenav .search_bar i {
    position: absolute;
    color: #000;
    font-size: 24px;
    left: 38px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidenav .search_bar input {
    width: 50%;
    padding: 11px;
    padding-left: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 15px;
}

.sidenav .menu_text {
    margin-top: 24px;
}

.sidenav .menu_text p {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 10px;
}

.sidenav .icon_items ul {
    list-style: none;
    margin-top: 32px;
    padding: 0 10px;
}

.sidenav .icon_items ul li {
    cursor: pointer;
    margin: 4px;
    padding: 12px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
}

.icon_items .active,
.sidenav .icon_items ul li:hover {
    background: #119aaf;
}

.sidenav .icon_items ul li i {
    font-size: 26px;
    padding: 0 12px;
}

.sidenav .icon_items ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding-left: 18px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

#click {
    display: none;
}

.side-container label {
    position: absolute;
    left: 3%;
    top: 1.5%;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
}

#click:checked~.sidenav {
    width: 260px;
}

#click:checked~.sidenav .icon_items ul li a {
    opacity: 1;
    pointer-events: auto;
}

#click:checked~.sidenav .logo h2 {
    opacity: 1;
    pointer-events: auto;
}

#click:checked~.sidenav .search_bar input {
    width: 100%;
    margin-left: 0;
}

#click:checked~.sidenav .search_bar i {
    left: 20px;
}

#click:checked~label {
    left: 1%;
}

#click:checked~label .close-btn {
    display: block;
}

#click:checked~label .menu-btn {
    display: none;
}