.Landing {
    background-image: url('/Front/assets/Landing.png');
    background-size: cover;
    width: 100%;
    height: 110vh;
    position: absolute;
    top: -2px;
    font-size: 30px;

    @media #{$maxMobile} {

        background-image: url('/Front/assets/Group\ 5.png');
        background-size: cover;
        height: 1000px;
        width: 100vw;

    }


}

.Landing {

    .container {
        position: relative;
    }

    .header {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            cursor: pointer;
            position: absolute;
            left: 0;
        }

        @media #{$maxMobile} {

            padding-top: 100px;

        }

        @media #{$minSmall} and #{$maxSmall} {

            padding-top: 100px;

        }

        img {
            width: 140px;
        }

    }

    .toggle {
        position: absolute;
        cursor: pointer;
        z-index: 1000;

        right: 0;

        @media (max-width: 569px) {
            right: 25px;


        }

        @media #{$maxMobile} {
            z-index: 1001;

        }

    }

    .Navbar {

        display: none;
        justify-content: center;
        align-items: center;
        position: relative;
        left: calc(50% - 200px);
        font-family: myfont;
        transition: .3s;

        &::before {
            content: "";
            width: 2px;
            height: 0;
            background-color: #000;
            position: absolute;
            right: -15px;
            top: 17px;
            transition: .3s;
        }

        @media #{$maxMobile} {
            &.open-toggle {
                display: flex;
                position: absolute;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                align-items: center;
                z-index: 1000;
                font-size: 52px;
                left: -35%;
                top: -12%;
                width: 167%;
                height: 159%;
                background: rgba(0, 0, 0, 0.5);
            }
        }

        @media #{$minSmall} and #{$maxSmall} {
            &.open-toggle {
                display: flex;
                position: absolute;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                align-items: center;
                z-index: 1000;
                font-size: 52px;
                left: -35%;
                top: -32%;
                width: 167%;
                height: 159%;
                background: rgba(0, 0, 0, 0.5);
            }
        }

        &:hover::before {
            height: 25px;
        }

        li {
            position: relative;
            margin-left: 30px;
            cursor: pointer;

            a {
                font-size: 20px;
                transition: .2s;
                color: #fff;
                font-family: ArabicFont;

                &:hover,
                &.active {
                    color: #000;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    background-color: #000;
                    bottom: -2px;
                    left: 0;
                    z-index: 300;
                    transition: .3s;

                }

                &:hover::before,
                &.active::before {
                    width: 100%;
                }

            }


        }


    }
}



.icons {
    display: none;
    margin-right: 30px;
    align-items: center;
    justify-content: center;

    .image-profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid;
        margin: 0 0 0 10px;
        position: relative;

        a {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
            }
        }
    }

    @media #{$maxMobile} {
        &.open-icons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 49%;
            top: 100%;
            z-index: 1000;
        }
    }

    @media #{$minSmall} and #{$maxSmall} {
        &.open-icons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 47%;
            top: 100%;
            z-index: 1000;
        }
    }

    button {
        text-align: center;
        font-size: 11px;
        padding: 10px;
        font-family: ArabicFont2;
        transition: .3s;

        &:hover {
            font-size: 12px;
        }

        @media #{$maxMobile} {


            font-size: 11px;
            position: absolute;
            left: -17px;
            top: 58px;
            z-index: 1000;
            width: 90px
        }

        @media #{$minSmall} and #{$maxSmall} {
            font-size: 12px;
            position: absolute;
            right: -90px;
            bottom: 60px;
            z-index: 1000;
            width: 98px;

            &:hover {
                font-size: 13px;
            }

        }
    }

    i {
        font-size: 20px;
        color: #000;
        cursor: pointer;
        margin-right: 20px;
        transition: .2s;

        &:hover {
            font-size: 21px;
        }

        @media #{$maxMobile} {
            margin-bottom: 20px;
            margin-top: 20px;
            font-size: 28px;
            position: relative;
            left: 13px;
            bottom: 9px;
            z-index: 1000;

            &:hover {
                font-size: 29px;
            }


        }

        @media #{$minSmall} and #{$maxSmall} {
            & {
                margin-bottom: 20px;
                margin-top: 20px;
                font-size: 28px;
                position: absolute;
                left: 23px;
                bottom: 103px;
                z-index: 1000;

                &:hover {
                    font-size: 29px;
                }
            }
        }
    }
}

.landing-page {
    margin-top: 20px;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media #{$maxMobile} {
        & {
            flex-direction: column;
            margin-top: 200px;
        }

        img {
            width: 140px;

        }

    }

    @media #{$minSmall} and #{$maxSmall} {
        & {
            margin-top: 100px;

        }
    }

    .image {
        width: 500px;
        position: relative;
        right: 60px;

        @media #{$maxMobile} {

            position: absolute;
            width: 414px;
            bottom: -259px;
            left: 26px;

        }

        @media #{$minSmall} and #{$maxSmall} {
            & {
                margin-top: -51px;

            }
        }

        img {
            width: 100%;
            margin-left: 50px;


        }
    }

    .text {
        position: relative;
        top: -68px;
        direction: rtl;

        @media #{$maxMobile} {

            text-align: center;
            top: 444px;

        }

        @media (max-width:566px) {

            text-align: center;
            top: 355px;

        }

        h1 {
            font-family: ArabicFont;
            font-size: 42px;

            @media #{$minSmall} and #{$maxSmall} {

                font-size: 42px;


            }
        }

        P:first-of-type {
            font-family: ArabicFont2;
            margin-top: -3px;
            left: -6px;
            position: relative;
            font-size: 17px;

            @media #{$minSmall} and #{$maxSmall} {
                & {
                    font-size: 21px;

                }
            }
        }

        P:last-of-type {
            color: gray;
            font-size: 24px;
            font-weight: normal;
            font-family: ArabicFont3;

            @media #{$minSmall} and #{$maxSmall} {
                font-size: 21px;

            }
        }

        .btn-explore {
            color: #fff;
            position: absolute;
            left: calc(50% - 30px);
            border-radius: 40px;
            font-size: 17px;
            font-family: ArabicFont2;
            transition: .3s;
            left: 100px;

            &:hover {
                font-size: 18px;
            }

            @media #{$minSmall} and #{$maxSmall} {
                font-size: 19px;

                &:hover {
                    font-size: 20px;
                }

            }

            @media #{$maxMobile} {
                left: calc(50% - 60px);
                margin-top: 0;
                font-size: 17px;
                border-radius: 40px;

                &:hover {
                    font-size: 18px;
                }
            }
        }
    }

}