.signin {
    background-image: url('/Front/assets/Background.png');
    background-size: cover;
    position: relative;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100vh;
    border: none;
    outline: none;
    text-align: center;

    @media #{$maxMobile} {

        background-image: none;
        background-color: #ebdbe7;
    }


    @media #{$minSmall} and #{$maxSmall} {

        background-position: -76px;

    }

    .logo {
        @media #{$maxMobile} {

            position: absolute;
            left: 8%;
            top: 3%;

        }
    }

    .content {
        position: absolute;
        left: calc(50% + 124px);
        top: calc(50% - 170px);

        @media #{$maxMobile} {

            position: absolute;
            left: 27%;
            top: 28%;

        }

        h2 {
            font-family: ArabicFont;
        }

        .up {
            margin-bottom: 20px;
            transform: translateY(-50%);
            display: flex;

            button {
                cursor: pointer;
                font-family: ArabicFont2;
                transition: .3s;
            }

            button:not(:first-of-type) {
                margin-left: 40px;
                transition: .3s;

                &:hover {
                    background-color: $pink-clicked-btn;

                }
            }

            button:not(:first-of-type) {
                margin-left: 40px;
            }

        }

        form {

            .pass {
                font-family: ArabicFont;
            }

            .username,
            .password {
                position: relative;
            }

            i {
                position: absolute;
                right: 20px;
                top: 30%;
                z-index: 1000;
            }

            input[type="password"],
            input[type="email"],
            input[type="submit"] {
                display: block;
                width: 300px;
                border-radius: 6px;
                padding: 10px;
                height: 50px;
                color: #fff;
                margin: 20px 0;
                font-family: ArabicFont2;

                &::placeholder {
                    color: #fff;
                }



            }

            input[type="password"]:focus {
                +i {
                    display: none;
                }
            }

            input[type="text"]:focus {
                +i {
                    display: none;
                }
            }

            input[type="email"],
            input[type="password"] {
                background-color: $blue-signin;
            }

            input[type="submit"] {
                background-color: #000;
                font-size: 20px;
                font-weight: bold;
                transition: .2s;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }


        }
    }


}