* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: ArabicFont;
    src: url('/Front/Fonts/Marhey/Marhey-VariableFont_wght.ttf');
}

@font-face {
    font-family: ArabicFont2;
    src: url('/Front/Fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: ArabicFont3;
    src: url('/Front/Fonts/Amiri/Amiri-Bold.ttf');
}

.empty {
    height: 664px;

    @media #{$maxMobile} {
        height: 998px;
    }
}

.fonts-Ar1 {
    font-family: ArabicFont;
}

.fonts-Ar2 {
    font-family: ArabicFont2;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
    border: none;
    outline: none;
}

.logo {
    position: absolute;
    left: 200px;
    cursor: pointer;

    img {
        width: 100px;
    }

}

.language {
    position: relative;
    z-index: 10000;
    cursor: pointer;

    .language-box {
        width: 40px;
        height: 40px;
        background-color: #000;
        color: #fff;
        padding: 5px;
        font-size: 15px;
        text-align: center;
        border: 2px solid #fff;
        outline: 2px solid #000;
        border-radius: 50%;
        position: fixed;
        left: 20px;
        bottom: 20px;
        cursor: pointer;

        @media #{$maxMobile} {
            width: 30px;
            height: 30px;
            font-size: 12px;
            padding: 3px;
        }
    }
}